
 * {
       box-sizing: border-box;
}
body {
       font-family: Montserrat, sans-serif;
       background-image: url("images/bg1.png");
       background-repeat: no-repeat;
       background-size: 50%;
       background-position: 50% 0;
       font-size: 13px;
       line-height: 18px;
       color: #515076;       
       width: 100%;
}
.container {
       width: 1110px;
       margin: 0 auto;
       padding-top: 100px;
}
.title {
       font-size: 70px;
       line-height: 78px;       
       text-align: center;            
}

.card {
       display: inline-block;
       background-color:#F7F7FA;
       width: 340px;
       padding: 25px;      
}

.text {
       font-size: 12px;       
       line-height: 24px;
       color: #A5A3B9;
       text-transform: uppercase;
}

.products-list {
       list-style: none;
       padding: 0;
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
       row-gap: 45px;
       column-gap: 10px;
       justify-content: center;
       max-width: 1110px;
         }


.all-composition {
       padding-left: 15px;
       padding: 25px;
}
.price {       
       font-size: 20px;      
       display: flex;
       justify-content: space-between;       
       }