
* {
       box-sizing: border-box;
}
body {
       font-family: Montserrat, sans-serif;
       background-image: url("images/bg1.png");
       background-repeat: no-repeat;
       background-size: 50%;
       font-size: 13px;
       line-height: 18px;
       color: #515076;       
       width: 1310px;
}
.title {
       font-size: 70px;
       font-weight: 400;
       line-height: 78px;
       margin: 0;
       text-align: center;
       color: #515076
}

.card {
       display: inline-block;
       background-color:#F7F7FA;
       width: 340px;
       padding: 25px;
       margin: 45px;
}
.text {
       font-size: 12px;
       font-weight: 400;
       line-height: 24px;
       color: #A5A3B9;
       text-transform: uppercase;
}

.products-list {
       list-style: none;
         padding: 0;
         margin: 0 auto;
         display: flex;
         flex-wrap: wrap;
         row-gap: 30px;
         column-gap: 10px;
         justify-content: center;         
         }

.compound {
       color: #515076;
       
}
.all-composition {
       padding-left: 15px;
       padding: 25px;
}
.price {       
       font-size: 20px;      
       display: flex;
       gap: 150px;    
       }