


*, 
*::before,
*::after 
{
       box-sizing:border-box;
}
body {
       font-family: Montserrat, sans-serif;
       background-image: url("images/bg1.png");
       background-repeat: no-repeat;
       background-size: 50%;
       background-position: 50% 0;
       font-size: 13px;
       line-height: 18px;
       color: #515076;       
       width: 100%;
}
.container {
       max-width: 1110px;
       margin: 0 auto;
       padding-top: 100px;
}
.title {
       font-size: 70px;
       line-height: 78px;       
       text-align: center;            
}
.clear-list {
       list-style: none;
       margin: 0 auto;
       padding: 0;
}

.card {
       background-color:#F7F7FA;
       padding: 25px;
       /* display: inline-block; */
       display: flex;
       flex-direction: column;
       width: 340px; 
       width: 100%;
       box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),      
                     0 0 0 1px rgba(70, 79, 96, 0.16);
       transition: box-shadow 0.3s ease-in-out;     
}
.card:hover {
       transform:  translateY(-8px);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),      
                   0 6px 20px 0 rgba(70, 79, 96, 0.19);
}
.card__image {
       display: block;
       width: 290px;
}

.card__category {
       display: block;
       font-size: 13px;       
       line-height: 18px;
       color: #A5A3B9;
       text-transform: uppercase;
}
card__name {

}
.card__descripstion {

}

.card__compound compound {

}
.products {
       display: flex;
       flex-wrap: wrap;
       row-gap: 45px;
       column-gap: 10px;
       justify-content: center;
       max-width: 1110px;
         }

.products__item {
       width: 340px;  
}

.compound__name {

}


.compound__list {
       padding-left: 15px;
       padding: 25px;
}
.card__price {       
       font-size: 20px;      
       display: flex;
       justify-content: space-between;
       margin-top: auto;       
       }
.buy-button{
       color: #515076;
       background-color: #FFFFFF;
       line-height: 20px;
       border: 1px solid #515076;        
       border-radius: 6px;
       padding-top: 6px;
       padding-bottom: 6px;
       padding-left: 12px;
       padding-right: 12px;
       display: block;
       margin: 0 auto;
       font-size: 18px;
       cursor: pointer;
       min-width: 102px;
       height: 32px;
       display: flex;
       align-items: center;
       gap: 8px;    
       font-family: Montserrat, sans-serif;
       font-width: 500px;  
       box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),      
                   0 0 0 1px rgba(70, 79, 96, 0.16);
       border: none;
       outline: none;
}
.buy-button{
       border: 1px solid red;
}
.buy-button:hover {
       border-color: #4FDB8A33;
       background-color: #F7F9FC;
       box-shadow:   0px 0px 0px 4px #4FDB8A33,
                     0px 0px 0px 1px #464F6052,
                     0px 1px 1px 0px #0000001A; 
}